<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <!--<a class="navbar-brand" href="/"> <span class="glyphicon glyphicon-home"></span> Inscale_logo here </a>-->
				<img src="img/inscale_logo.png" width="150" height="50">
			</div>
		</nav>
			
</html>
