
{% extends "layout.html" %}
{% block body %}
    <div id="wrapper">
 
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">All types of items</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		
		
		
		<div class="row">
			<div class="col-lg-12">
				<!-- /.panel -->
				<div class="panel panel-green">
					<div class="panel-heading">
						<label>
							{{filter_requested}}
						</label>
					</div>
					<!-- /.panel-heading -->
					
					
					<div class="panel-body">
						{%if displayRoles == 'yes'%}
							{%for myrole in all_items%}
								<div class="col-sm-4">
									<a href= "/Roles/{{myrole.replace(" ","_")}}"> <p align="center" > <strong> {{myrole}} </strong> <br> </p> </a>
								</div>
							{%endfor%}
							
						{%endif%}
							
						{%if displayRoles == 'no'%}
								{%for item in all_items%}
									
									<div class="col-sm-4">
									<div class="panel panel-default">
										<a href= "/{{item.type_name}}/{{item.item_id}}/{{(item.title).replace(' ', '_')}}"> <p align="center" > <strong> {{item.title}} </strong> <br> </p> </a>
										<p align="center"> <strong> Item type: </strong> {{item.type_name}} </p>
										<p align="center"> <strong> Review: </strong> {{item.mean}} </p>
											<p align="center" style="white-space:normal"> 
												<strong> Releasing date:</strong>
												{%if item.release_date%}
													{{item.release_date.strftime('%Y-%m-%d')}}
												{%else%}
													Unknown
												{%endif%}
											</p>
											
									</div>	
									</div>
								{%endfor%}
						{%endif%}
					</div>
					<!-- /.panel-body -->
					
					
					
					
					
					
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
			
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->

{% endblock %}
