{% extends "layout.html" %}


{% block body %}
<div id="wrapper">

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" align="center">Welcome to Inscale !</h1>
			</div>
			
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-lg-12">
				<!-- /.panel -->
				<div class="panel panel-green">
					<div class="panel-heading">What should expect to see here ? See below !</div>
					<!-- /.panel-heading -->
					<div class="panel-body" align="justify">
						<ul class="timeline">
							<li>
								<div class="timeline-badge success">
									<i class="glyphicon glyphicon-ok-sign"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Curious about anything ?</h4>

									</div>
									<div class="timeline-body">
										<p align="center">
											You came to <strong> the right place!</strong> Odd things, or more popular ones, anything can be found and rated at <strong> inscale.tk</strong> !
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge info">
									<i class="fa fa-save"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Be part of a community</h4>
									</div>
									<div class="timeline-body">
										<p align="center">Feel like you'd like to be connected with like-minded people ? <strong> Just. Sign. in.</strong> Gather with other insatiable users, share and discover new things ! 
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge warning">
									<i class="glyphicon glyphicon-star"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Participate by giving your insight </h4>
									</div>
									<div class="timeline-body">
										<p align="center">
											At any time, you can review any item. Everything is dynamically updated to suit your needs ! More ratings, more precision ;) 
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge danger">
									<i class="fa fa-comment"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Read, Write, Discuss</h4>
									</div>
									<div class="timeline-body">
										<p align="center"> Write or update your reviews to provide constructive feedback on real-life matters. Read other's content to nourish your thoughts.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge info">
									<i class="fa fa-search"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Navigate with ease</h4>
									</div>
									<div class="timeline-body">
										<p align="center">Search bar, dynamic pannels to show all sorts of items, different filters: everything's set for you to find more !</p>
									</div>
								</div>
							</li>


							<li class="timeline-inverted">
								<div class="timeline-badge success">
									<i class="glyphicon glyphicon-transfer"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Talk about us !</h4>
									</div>
									<div class="timeline-body">
										<p align="center">inScale is comming soon to <strong>Social Medias</strong>. For now, spread the word around you if our website is useful to you !</p>



									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-8 -->

		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</div>
</div>
<!-- /#wrapper -->

{% endblock %}
