{% extends "layout.html" %}


{% block body %}
<div id="wrapper">

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" align="center">Welcome to Inscale !</h1>
			</div>
			
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-lg-12">
				<!-- /.panel -->
				<div class="panel panel-green">
					<div class="panel-heading">Description of the website</div>
					<!-- /.panel-heading -->
					<div class="panel-body" align="justify">
						<ul class="timeline">
							<li>
								<div class="timeline-badge success">
									<i class="glyphicon glyphicon-ok-sign"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Searching for a
											good deal?</h4>

									</div>
									<div class="timeline-body">
										<p align="center">
											You are in <strong> the right website!</strong> Here are
											reviews of many movies, TV series, books, and so on.
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge info">
									<i class="fa fa-save"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Sign in</h4>
									</div>
									<div class="timeline-body">
										<p align="center">Don't hesitate to sign in if you would
											like to participate to the website's community. Feel free to
											express yourself, give your opinion as much as you can, and
											share same interests with other users.
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge warning">
									<i class="glyphicon glyphicon-star"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Give your
											score!</h4>
									</div>
									<div class="timeline-body">
										<p align="center">
											Give a review to an item, between 0 and 5 stars.
											The more you give reviews, the more reliable is
											the website!
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge danger">
									<i class="fa fa-comment"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Give your
											opinion!</h4>
									</div>
									<div class="timeline-body">
										<p align="center">Do not hesitate to give your review from
											a constructive point of view in order to defend the score
											that you are giving to the chosen item. By this way, the
											other users can rely to your point of view if they have to
											make a choice (for a restaurant, a smartphone, ...).</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge info">
									<i class="fa fa-search"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Discover!</h4>
									</div>
									<div class="timeline-body">
										<p align="center">Thanks to the search bar, you can search
											some content thanks to the keywords you put in. Want some Tim
											Burton movies ? Just write down his name in the search bar
											and enjoy ! If you ever don't have any idea of what kind of
											review you are interested in, the scrolling bar at the left
											can help.</p>
									</div>
								</div>
							</li>


							<li class="timeline-inverted">
								<div class="timeline-badge success">
									<i class="glyphicon glyphicon-transfer"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title" align="center">Share</h4>
									</div>
									<div class="timeline-body">
										<p align="center">Share the website on your social
											networks in order to increase your community and to get more
											and more reviews on many items!</p>



									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-8 -->

		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</div>
</div>
<!-- /#wrapper -->

{% endblock %}
