{% extends "layout.html" %}

<head>

	<!-- Useful for star-rating-->
	<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="kartik-v-bootstrap-star-rating-21d6f2a/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />


</head>

{% block body %}

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" > {{myitem.title}}</h1>
                </div>
            </div>
            
                <div class="row page-header">
					<!--image of the item-->
					<div>
						<img src="example.jpg" >
						<!--End of inserting image of the item-->
                    </div>
                    
                    <!--star rating-->
					<div>
						<id="mystar" class="rating" data-min="0" data-max="5" data-step="0.5" onchange="giveReviewClick()" /> 
					</div>
					
					<br><br><br>
					
					<div>
						<class id="myvalue"></class>
					</div>
					
					<script>
						function giveReviewClick() {
							
							//IF THE USER IS NOT LOGGED/SIGNED IN:
							//REDIRECT TO THE LOGIN PAGE
							//THEN REDIRECT BACK TO THE ITEM PAGE
							//SO WE NEED TO IMPLEMENT THIS FUNCTION ASAP /!\
							
							
							//Update the label displayer dynamically
							document.getElementById("myvalue").value = document.getElementById("mystar").value;
							
							//calls a function to store starvalue in the database
							
							//calls a function to avoid the user to vote twice
							
							//calls a function to compute the mean of the item
							
						}
					</script>
					<!--star rating ending-->				
						
				<!--end of page-header-->
				</div>
                    
				<!-- title and date-->
				<div class="col-lg-4"> 
					<div class="panel panel-default">
						<div class="panel-body">
							<h1> <span class="glyphicon glyphicon-chevron-right" align="justify"></span> </h1> 
								<b> Released: </b> {{ myitem.release_date.strftime('%Y-%m-%d') }}<br> 
								<b> Participants: </b>
								
								
								
						</div>
					</div>
				</div>
				<!-- title and date END-->
				
				<!--synopsis-->
				<div class="col-lg-8"> 
					<div class="panel panel-green">
						<div class="panel-heading">
							<h1>Synopsis</h1>
						</div>
						<div class="panel-body" align="justify">
							THIS WILL BE THE SYNOPSIS THIS WILL BE THE SYNOPSISTHIS WILL BE THE SYNOPSISTHIS WILL BE THE SYNOPSISTHIS WILL BE THE SYNOPSISTHIS WILL BE THE SYNOPSISTHIS WILL BE THE SYNOPSISTHIS WILL BE THE SYNOPSIS
						</div>
					</div>
					
				</div>
				<!--end of synopsis-->
                
                
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-green">
                                <div class="panel-heading">
                                    
										<h1>
											<span class="glyphicon glyphicon-heart-empty">
											</span>
											
											Average score: {{myitem.mean}}/5.0
										</h1>
										
										Comments: NBCOMMENTS/VOTES/REVIEWS
								</div>		
									
								
								<!--COMMENTS-->
								<div class="panel-body" align="justify"> <br>
									THIS IS A COMMENT
								</div>							
								<!--END OF COMMENTS-->	
									

						</div>
					</div>
				</div>
		</div>
    </div>
    <!-- /#wrapper -->

{% endblock %}


<!-- useful for star-ratings -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="kartik-v-bootstrap-star-rating-21d6f2a/js/star-rating.js" type="text/javascript"></script>

