
{% extends "layout.html" %}
{% block body %}
    <div id="wrapper">

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{type_requested}}</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		
		
		
		<div class="row">
			<div class="col-lg-12">
				<!-- /.panel -->
				<div class="panel panel-green">
					<div class="panel-heading">
						<label>
							{{filter_requested}}
						</label>
					</div>
					<!-- /.panel-heading -->
					
					
					<div class="panel-body">
						<!--IF WE WANT ALL ROLES-->
						{% if filter_requested|length > 15%} 
							{%for (participant_id, firstname, lastname, object) in list_requested%}
								<div class="col-sm-4">															
									<a href= "/Roles/{{participant_id}}/{{firstname.replace(' ','_')}}_{{lastname.replace(' ','_')}}"> <p align="center"> <strong> {{firstname}} {{lastname}} </strong> <br> </p> </a>
									<p align="center" > <strong> As a {{type_requested.lower()}} in: </strong> 
										{%for each in object%}
											<a href="/{{each.type_name}}/{{each.item_id}}/{{each.title.replace(' ','_')}}"> {{each.title}}, </a>
										{%endfor%}
									</p><br>
										
								</div>
							
							{%endfor%}
						{%else%}
						
						<!--IF WE WANT A FILTERED ROLES-->
							{%if list_requested is not none%}
								{%for item in list_requested%}
									<div class="col-sm-4">

										<a href= "/{{item.type_name}}/{{item.item_id}}/{{(item.title).replace(' ', '_')}}"> <p align="center"> <strong> {{item.title}} </strong> <br> </p> </a>
										<p align="center"> <strong> Review: </strong> {{item.mean}} </i> </p>
										<p align="center"> <strong> Releasing date:</strong>
											{%if item.release_date%}
												{{item.release_date.strftime('%Y-%m-%d')}}
											{%else%}
												Unknown
											{%endif%}
										</p>


									</div>
								{%endfor%}
							{%endif%}
						{%endif%}
					</div>
					<!-- /.panel-body -->
					
					
					
					
					
					
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
			
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->


{% endblock %}
